
table {
    position: relative;
    font-size   : 0.9rem; /* 10px */
    font-family : Verdana, Arial, sans-serif;
    border-collapse: collapse;
    
 
    margin-bottom:5%;
  }

tr {
    background-color: #f5f5f5;
    box-shadow: 0.2em .4em .2em rgba(0,0,0,.4);
}
th, td {
    padding: 0.5rem;
    text-align: center;
    border: 2px solid #000;
    height: 2em;

}


tbody tr:hover {
    background-color: #9adcfd;
    cursor: context-menu;
    
}

#TableTitle {
    position: relative;
    font-size   : 1.2em; /* 10px */
    font-family : Verdana, Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border-style: solid;
    border-color:  #333;
    padding: 0.3em;
    border-width: 0.2em;
    box-shadow: .2em 0.4em .4em rgba(0,0,0,.4);
  }